@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500&family=ZCOOL+XiaoWei&display=swap');

.hero{
    width: 100%;
    height: 80vh;
    background-image: url(../../img/Rectangle\ 4.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.hero .hero--text{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.hero .hero--text .delicious{
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 300;
    font-size: 5rem;
}

.hero .hero--text .flavour{
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 300;
    font-size: 5rem;
    display: block;
}

@media screen and (max-width:768px){
    .hero--text .delicious, .hero--text .flavour{
        font-size: 3.5rem !important;
    }
}

/* product section starts here */
.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.product{
    background: #FFFBF2;
    padding: 2rem 0;
    margin: 0 auto;
}

.product .products-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product .products-info .logo{
    width: 70px;
    height: auto;
}

.product .products-info .special-product{
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 2rem;
    color:#E62929;
    font-weight: 300;
}

.product .product-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    margin: 2.5rem 0;
}

.product .product-container img{
    width: 250px;
    height: auto;
}

.product .product-container img:nth-child(1){
    border: 10px solid #082161;
    border-radius: 20px 0 20px 0;
}

.product .product-container img:nth-child(2){
    border: 10px solid rgba(255, 161, 1, 0.78);
    border-radius: 20px 0 20px 0;
}

.product .product-container img:nth-child(3){
    border: 10px solid #FF0101;
    border-radius: 20px 0 20px 0;
}

/* Trending products section */
.Trending{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../../img/Rectangle\ 15.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    object-fit: cover;
    padding: 2rem 0;
}

.Trending .trending--header{
    color: #fff;
    font-family: 'Mitr';
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-top: 1.5rem;
}

.trending--list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 3rem 0;
}


.trending--list .product-data .data{
    padding: 10px 0;
    text-align: center;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
}

.Trending .trending--link h4{
    color:#FEBD11;
    padding-bottom: 0.5rem;
}

@media screen and (max-width:768px){
    .trending--list{
        gap: 30px;
    }
}

@media screen and (max-width:768px){
    .trending--list{
        gap: 30px;
    }

    .trending--list .product-data img{
        width: 130px;
    }

    .trending--list .product-data .data{
        font-size: 0.8rem;
    }
}

.hours{
    background: #FFFBF2;

}
.hours .hours--info{
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    justify-content: space-between;
}

.hours .hours--info .Left--image{
    width: 400px;
    margin-bottom: 4rem;
}

.hours .hours--info .Rightblock{
    text-align: center;
}

.hours .hours--info .Rightblock .text-block{
    margin: 2rem auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hours .hours--info .Rightblock .text-block img{
    width: 120px;
    height: 120px;
}

.hours .hours--info .text-block h2{
    color:  #082161;
    font-family: 'Mitr';
    font-weight: 500;
    font-size: 2rem;
}

.hours .hours--info .text-block p{
    color:  #082161;
    font-family: 'Mitr';
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 0;
}

.hours .hours--info .text-block .btn--primary{
    background-color: #FEBD11;
    outline: none;
    padding: 12px 32px;
    border-radius: 20px;
    border: none;
    margin: 0.5rem 0;
    color: #333;
    font-weight: 500;
}

.hours .hours--info .text-block .btn--primary:hover{
    background-color: #ecb110;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2)
}

@media screen and (max-width:768px){
    .hours .hours--info .Left--image{
        margin-bottom: 0;
        width: 300px;
    }
    .hours .hours--info{
        display: flex;
        flex-direction: column;
        gap: 0px;
        justify-content: center;
    }

    .hours .hours--info .Leftblock{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .hours .hours--info .text-block h2{
        margin: 0 0;
        font-size: 1.6rem;
    }
}

.Best--slider{
    background-image: url('../../img/imgHome/burger.svg');
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.slider{
    background-image: url('../../img/imgHome/BackgroundImage.svg');
    height: 80vh;
    background-position: right;
    background-repeat: no-repeat;
}

.testimonial .header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin:5rem auto;
    gap: 30px;
}

.testimonial .box .Img__header img{
    width: 100px;
}

.testimonial .box h3{
    font-size: 2rem;
    font-family: 'Mitr';
    letter-spacing: 1px;
    font-weight: 500;
    padding-top: 1rem;
}

.testimonial .box p{
    font-size: 1rem;
    color: gray;
    font-weight: 300;
    font-family: 'Mitr';
}

.testimonial .header__content .img__profile{
    width: 100px;
}

@media screen and (max-width:768px) {
    .testimonial .header__content{
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
        width: 75%;
    }

    .testimonial .header__content h4{
        padding:1rem 0;
    }
}

.SendUs{
    width: 100%;
    background: #F4F4F4;
    /* position: relative; */
}

.mail-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.mail-box .left--img img{
    width: 300px;
}

.mail-box .text-box{
   margin: 0 auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 50%;
}

.mail-box .text-box .icons{
    font-size: 4rem;
    font-weight: 300;
    color: #333;
}

.mail-box .text-box h2{
    padding: 1rem 0;
    font-family: 'Mitr';
    font-weight: 500;
    font-size: 2.5rem;
}

.mail-box .text-box p{
    text-align: center;
    color: rgba(0, 0, 0, 0.58);
    font-size: 1.1rem;
}

.mail-box .text-box .inputbox{
    margin: 2rem 0;
    position: relative;
}

.mail-box .text-box .inputbox input{
    padding: 12px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 500px;
}

.mail-box .text-box .inputbox button{
    padding: 12px 40px;
    border-radius: 20px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 1px;
    right: 0;
    border: none;
    background-color: #FEBD11;
    color: #fff;
}

.mail-box .right--img img{
    width: 250px;
}
 
@media screen and (max-width:768px) {
    .hours .hours--info .Rightblock .text-block{
        width: 90%;
    } 
    .mail-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .mail-box .text-box{
        width: 100%;
        margin: 2rem 0;
    }

    .mail-box .text-box .inputbox input{
        width: 300px;
        margin-bottom: 1rem;
    }

    .mail-box .right--img{
        display: none;
    }
}