.Header {
  background-color: #fffbf2;
  position: relative;
}

.Header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 3rem 0;
}

.Header .container .header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Header .container .header__contact .call__info .order {
  color: rgba(0, 0, 0, 0.72);
  font-weight: 400;
  font-size: 18px;
}

.Header .container .header__contact .call__info .number {
  color: rgba(0, 0, 0, 0.72);
  font-weight: 500;
  font-size: 18px;
}

.Header .container .header__contact .call {
  background-color: rgba(254, 189, 17, 1);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.Header .container .header__contact .call .icon {
  font-size: 18px;
  font-weight: 500;
}

.Header .container .header__contact .call:hover {
  background-color: rgb(231, 176, 25);
  box-shadow: 0px 1px 3px gray;
}

.Header .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Header .container .social .box {
  background-color: rgba(254, 189, 17, 1);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: #fff;
}

.Header .container .social .box:hover {
  background-color: rgb(231, 176, 25);
  box-shadow: 0px 1px 3px gray;
}

.Header .container .header__contact .icon {
  font-size: 18px;
  font-weight: 500;
}

.ToggleIcon .nav__toggle svg{
    display: none;
}



.header__logo--sidebar{
    margin: 1.5rem 0;
}

.sidebar{
    display: none;
}

@media screen and (max-width: 768px) {

  .Header .container .header__contact,
  .header__social--links {
    display: none;
  }

  .ToggleIcon .nav__toggle svg {
    transform: rotate(90deg) scaleX(-1);
    -webkit-transform: rotate(90deg) scaleX(-1);
    -moz-transform: rotate(90deg) scaleX(-1);
    -ms-transform: rotate(90deg) scaleX(-1);
    -o-transform: rotate(90deg) scaleX(-1);
    height: 45px;
    width: 45px;
    display: block;
  }

  .sidebar{
    display: none;
  }

  .sidebar.open{
    display: inline-block;
    background-color: #fff;
    width: 300px;
    height: 100vh;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .sidebar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 0;
  }

  .sidebar nav ul .link{
    padding: 1rem 0;
    color: gray;
  }

  .sidebar nav ul .link:hover{
    color: #333;
  }
  
  
.Header .container .menu--header__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
  
  .Header .container .menu--header__contact .call__info .order {
    color: rgba(0, 0, 0, 0.72);
    font-weight: 400;
    font-size: 18px;
  }
  
  .Header .container .menu--header__contact .call__info .number {
    color: rgba(0, 0, 0, 0.72);
    font-weight: 500;
    font-size: 18px;
  }
  
  .Header .container .menu--header__contact .call {
    background-color: rgba(254, 189, 17, 1);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  
  .Header .container .menu--header__contact .call .icon {
    font-size: 18px;
    font-weight: 500;
  }
  
  .Header .container .menu--header__contact .call:hover {
    background-color: rgb(231, 176, 25);
    box-shadow: 0px 1px 3px gray;
  }
}



